header{
	background-image:url(../img/sushibar-01.jpg);
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-image: -webkit-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url(../img/sushibar-01.jpg);
	background-image:  -moz-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url(../img/sushibar-01.jpg);
	background-image:  -o-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url(../img/sushibar-01.jpg);
	background-image:  -ms-linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url(../img/sushibar-01.jpg);
	background-image:  linear-gradient(right, rgba(0,0,0, 0) 0%,rgba(0,0,0, 1) 100%), url(../img/sushibar-01.jpg);
	-moz-box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
	-webkit-box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
	box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
	margin-bottom: -20px;

	border-radius: 0px 0px 125px 0px;
}
/*div of menu banner*/
.MT{
	background-color: white;
	-moz-box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
	-webkit-box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
	box-shadow: 0 0 5px 5px rgba(100,100,100,.25);
}
/*item on menu*/
.item{
	display: inline-table;
	background-color: white;
	background-image: -webkit-radial-gradient( rgba(255,255,255, .25) 0%,rgba(255,255,255, 1) 100%), url(../img/swirl.png);
	background-image:  -moz-radial-gradient( rgba(255,255,255, .25) 0%,rgba(255,255,255, 1) 100%), url(../img/swirl.png);
	background-image:  -o-radial-gradient( rgba(255,255,255, .25) 0%,rgba(255,255,255, 1) 100%), url(../img/swirl.png);
	background-image:  -ms-radial-gradient( rgba(255,255,255, .25) 0%,rgba(255,255,255, 1) 100%), url(../img/swirl.png);
	background-image: radial-gradient( rgba(255,255,255, .25) 0%,rgba(255,255,255, 1) 100%), url(../img/swirl.png);

	border-radius:10px;
	border-top: 2px solid rgba(197, 223, 159, 1);
	border-left: 2px solid rgba(197, 223, 159, 1);
	border-right: 2px solid rgba(197, 223, 159, 1);
	margin-bottom: .5em;
}
.yellow{
	border-bottom: solid 5px rgba(232, 192, 39, .8);
}
.blue{
	border-bottom: solid 5px rgba(67, 133, 188, .8);
}
.green{
	border-bottom: solid 5px rgba(96, 184, 116, .8);
}
.red{
	border-bottom: solid 5px rgba(209, 98, 97, .8);
}
img{
	border-radius: 5%;
	width: 95%;
	margin-left: 2.5%;
    margin-right: 2.5%;
	margin-top: 10px;
	margin-bottom: 10px;
	box-shadow: black .1em .3em .3em 0em rgba(0,0,0,.5);
	transition: all 0.7s ease;
}
.ui.huge.launch.right.attached.button{
/*position: absolute;
margin-top: -em;*/
}
body{
	background-color: #f7f7f7;
}
p{
	font-family: 'Lato', sans-serif, font-weight:300;
	font-size: 1em;
	color: white;
}
ul{
	margin-top: 5px;
	list-style-type: none;
	text-indent: none;
}
li{
	list-style-type: none;
	margin-left: -25px;
}
h1{
	font-family: 'Lato', sans-serif, font-weight:700;
	font-size: 5em;
	margin-bottom: -.5em;
	margin-top: 0px;
	padding-top: 20px;
	color: white;
	padding-left: 5%
}
.contains{
	margin-left: 2.5%;
	margin-bottom: 0px;
	font-family: 'Lato', sans-serif, font-weight:700;
	font-size: 1.5em;
	color: rgba(17, 130, 39, 1);
}
h2{
	margin-left: 14px;
}
h2.banner{
	text-align: center;
	margin-top: 25px;
	margin-bottom: 2em;
	margin-left: 0px;
}

h3{
	margin-top: 1em;
	margin-bottom: .75em;
	text-align: center;
	border-bottom: dashed 2px rgba(197, 223, 159, 1);
}
h4{
	margin: 5px;
	text-align: center;
	border-top: dashed 1px rgba(197, 223, 159, 1);
	border-bottom: dashed 1px rgba(197, 223, 159, 1);
}
h5{
	font-family: 'Lato', sans-serif, font-weight:900;
	font-size: 2em;
	font-style: italic;
	color: white;
	padding-left: 10%;
	margin-bottom:0px;
}
h6{
	font-size: 1.5em;
	margin: 20px 0px 0px 0px;
}
footer{
	padding: 1em;
	background-color: black;
	border-radius: 125px 0px 0px 0px;
	margin-bottom: -2.5em;
}
.fpart{
	font-size: .8em;
	text-align: right;
	color: white;
	margin-bottom: 0px;
}
.cr{
    position: relative;
    left: 1em;
    bottom: 1em;
    color: white;
    margin-bottom: 1em;
    text-align: center;
}
.button{
}
div#nav{
	margin-top: 300px;
	background-color: #fff;
	opacity: .9;
	border-radius: 0px 125px 0px 0px; 
}
.navigation{
	margin-top: 107px;
	margin-bottom: 93px;
}
.ui.launch.right.attached.button{
	margin-bottom: 2em;
}






/*....................styles...................*/
@media screen and (max-width: 350px){
	.item{
		width: 100%;
	}
	h1{
		font-size: 3em;

	}	
	h3{
		font-size: 1.25em;
	}
	h5{
		font-size:1.5em;
	}
	div#nav{
		width: 50%;
	}	
	ul{
		height: 50px;
	}
}
@media screen and (min-width:351px){
	.item{
		width: 49%;
	}
	h1{
		font-size: 3em;

	}	
	h3{
		font-size: 1.1em;
	}
	h5{
		font-size:1.5em;
	}		
	div#nav{
		width: 50%;
	}
	ul{
		height: 100px;
	}
}
@media screen and (min-width:450px){
	.item{
		width: 49%;
	}
	h1{
		font-size: 3em;

	}	
	h3{
		font-size: 1.25em;
	}
	h5{
		font-size:1.5em;
	}	
	div#nav{
		width: 250px;
	}
	.fpart{
		display: inline-table;
		width: 49%;
		text-align: center;
	}
	ul{
		height: 80px;
	}
}
@media screen and (min-width:750px){
	.menu{
		max-width: 90%;
		margin-left: auto;
    	margin-right: auto;
	}
	h1{
		font-size: 3em;

	}	
	h5{
		font-size:1.5em;
	}		
	ul{
		height: 50px;
	}
}
@media screen and (min-width:1150px){
	.menu{
		max-width: 90%;
		margin-left: auto;
    	margin-right: auto;
	}
	.item{
		width: 33%;
	}
	h1{
		font-size: 3em;

	}	
	h5{
		font-size:1.5em;
	}	
}
@media screen and (min-width:1440px){
	.menu{
		max-width: 90%;
		margin-left: auto;
    	margin-right: auto;
	}
	.item{
		width: 24.75%;
	}
	h1{
		font-size: 3em;

	}	
	h5{
		font-size:1.5em;
	}	

}
@media only screen and (max-width: @computerBreakpoint) {
  html.ios {
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
  }
}